@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;900&display=swap');
@import url( 'https://fonts.googleapis.com/css2? family = 나눔 + 명조 : wght @ 400; 800 & display = swap'); 



@import url(https://fonts.googleapis.com/css?family=Galada|Nanum+Gothic|Nanum+Myeongjo);

* {margin:0; padding:0;}
html{font-size: 16px;}
body{ font-size:16px;
      color:#6f6f6f;
      font-family: 'Nanum Gothic', sans-serif }
ul, ol, li{list-style-type:none}
img, fieldset{border:none;vertical-align: middle}
hr {clear:both;border:none}
a {color:inherit;text-decoration:none; outline: 0;}
table{border-collapse:collapse}
input, textarea, input::placeholder, textarea::placeholder {
       color:inherit;font-size:inherit;
       font-family:inherit;
       vertical-align: middle;
       outline: 0;}
button{outline:0}
.sound_only{display: block; text-indent: -999999999999999px; height: 0;}

  /* 네비1,2,3 공통 */ 
  .navi .depth1{position: absolute;width:100%;top:50px;left:0;}
  .navi .depth1 >li {float:left;width:15%;background-color:#fff;}
  .navi .depth1 >li > a{display: block;text-align: center;background-color:#fff;
                 color:#333;font-size: 1.1rem;font-weight: bold;padding:10px 0;line-height: 1em;}
  .navi .depth1 >li> ul {font-size:0.9rem;line-height: 2em;box-sizing: border-box; text-align: center;}
  .navi .depth1 >li> ul:before{content: '';display: block;height:30px;}
  
  .navi .depth1 .depth2 ul{padding-top:1em;font-size:0.8rem}





/*******************************메인화면, 서브화면 공통영역*****************************************************************/
#wrap{width: 100%; min-width: 1024px; overflow: hidden;}
.inner{min-width: 1024px; max-width: 1280px; margin: 0 auto;}

/*header*/
#header #logo{
           display: block;
           float: left;
           width: 150px;
}
#logo img{
       width: 100%;
}


 /* 네비2 */   
 #nav2{float: left;width: calc(100% - 150px);position: relative;}      
 #nav2 .depth1 {
       z-index:98;height:calc(1.1rem + 19px);overflow:hidden;
      transition: height 1s;border-bottom:1px solid transparent;
      position: absolute;width:100%;top: 20px;left:180px;
}  
#nav2 .depth1:hover{height:calc(1.1rem + 20px + 200px);}

#nav2 .depth1 ul {height:200px;opacity: 0;transition: opacity 1s;padding:0 10px; }
#nav2 .depth1 li:first-child ul{}
#nav2 .depth1:hover ul{opacity: 1;}
   

#nav2 .KOR{
      text-align: right;
      padding-top: 15px;
}
#nav2 .KOR a{
    display: inline-block;
    width: 60px;
    line-height: 36px;
    border-bottom: 1px solid #333;
    border-right: none;
    margin-right: 30px;
    text-align: left;
      /*float: right;
      border-bottom: 1px solid#aaa;
      width:66px;*/
}
#nav2 .all_nav {
      border: none;
      background: none;
}
#nav2 .all_nav .span1{
      display: block; width: 30px; height: 2px;
      background-color: #000;
      margin-bottom: 3px;
}
#nav2 .all_nav .span2{
      display: block; width: 30px; height: 5px;
      background-color: #000;
}



/*footer*/
#footer{
      background-color: #222;
      height: 180px;
}
#footer .foot1{
    width: 100%;
    padding: 17px 40px 24px;
      /*
      height: 70px;
      width: 100%;
      padding: 17px 40px 24px;
      */
}
#footer .foot1::after{
      clear: both;
      display: block;
      content: '';
}
#footer .logo_img{
      float: left;
      box-sizing: border-box;
}
#footer .logo_img img{
      width: 120px;
      height: 40px;
      display: block;
}
#footer .logo_txt{
      float: right;
      margin-top: 9px;
}
#footer .logo_txt .txt{
      display: inline-block;
  }
  #footer .logo_txt .txt > li{
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      padding: 0 20px;
  }
#footer .logo_txt .sns_img{
      display: inline-block;
}
#footer .logo_txt .sns_img > li{
      display: inline-block;
      margin-left: 30px
}
#footer .logo_txt .sns_img > li a img{
      display: block;
      width: 28px;
      height: 28px;
}
#footer .logo_txt .sns_img > li:first-child{
      margin-left: 20px;
}
#footer .foot2{
      padding: 24px 40px;
      border-top: 1px solid #333;
}
#footer .foot2::after{
      clear: both;
      display: block;
      content: '';
}
#footer .stx_img{
      box-sizing: border-box;
}
#footer .stx > li{
      display: inline-block;
      margin-right: 40px;
}
#footer .stx .f_img1 img{
      display: block;
      width: 45px;
      height: 30px;
}
#footer .stx .f_img2 img{
      display: block;
      width: 55px;
      height: 15px;
}
#footer .stx .f_img3 img{
      display: block;
      width: 55px;
      height: 15px;
}
#footer .stx .f_img4 img{
      display: block;
      width: 55px;
      height: 15px;
}
#footer .stx .f_img5 img{
      display: block;
      width: 55px;
      height: 15px;
}
#footer .stx .f_img6 img{
      display: block;
      width: 55px;
      height: 15px;
}
#footer .foot2 dl{
      margin-top: 16px;
}
#footer .foot2 dt{
      font-size: 14px;
      color: #666;
      float: left;
}
#footer .foot2 dd{
      display: inline-block;
      font-size: 13px;
      color: #666;
      float: right;
}