#wrap{}
#header{}
#section{}
#footer{}


  

/*********************section****************************/
#main_image{
    /* overflow: hidden;*/position: relative; 
    margin:auto;width:100%;
     }
#slide .lazy{position: relative; width:100%; left:0px;} 
#slide img{width:100%;}




/*******sec1*********/
#sec1{clear: both;margin-bottom:110px}
#sec1 .inner{
    position: relative;
}
#sec1 .txt_box {
    width:100%;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 0;
    color: #fff;
    z-index:99999;
    font-family: "Nanum Myeongjo";
}
#sec1 .txt_box::after{
    clear: both;
    display: block;
    content: '';
}

#sec1 .txt_box .txt1{
    font-size:6rem;
    margin-bottom: 50px;
}
#sec1 .txt2{
    font-size: 2rem;
    margin-bottom: 80px;
}
#sec1 .txt3{
    font-size: 4.5rem;
}
#sec1 .inner::after{
    clear: both;
    display: block;
    content: '';
}



/*******sec2*********/
#sec2 .inner{position: relative;}
#sec2::after{
    clear: both;
    display: block;
    content: '';
}

#sec2 .box1{
    margin-bottom: 110px;
    position: relative;
}
#sec2 .box1 img{
    width: 1000px;
    height: 700px;
}
#sec2 .box2{
    width: 600px;
    height: 520px;
    background-color: #fff;
    position: absolute;
    padding-left: 40px;
    top: 100px;
    right: 0;
    
}
#sec2 .box2::after{
    clear: both;
    display: block;
    content: '';
}
#sec2 .box2 .txt1{
    font-size: 1rem;
    margin-bottom: 20px;
    margin-top: 90px;
    
}
#sec2 .box2 .txt2{
    font-size: 3rem;
    margin-bottom: 15px;
}
#sec2 .box2 .txt3{
    font-size: 1.25rem;
    padding-bottom: 35px;
    border-bottom: 1px solid#aaa;
}
#sec2 .box2 .txt4{
    font-size: 1rem;
    margin-top: 50px;
}
#sec2 .box2 .txt5{
    font-size: 0.9rem;
    margin-top: 10px;
}
#sec2 .box2 .arrow1{
    position: absolute;
    left: 550px;
    top: 230px;
    color: #aaa;
}
#sec2 .box2 .arrow1 img{
    width: 40px;
    height: 40px;
}
#sec2 .box2 .arrow2{
    position: absolute;
    left: 550px;
    top: 290px;
}
#sec2 .box2 .arrow2 img{
    width: 40px;
    height: 40px;
}


/*******sec3*********/
#sec3{
   padding-top: 200px;
   padding-bottom: 100px;
   background: url(../images/social.png) no-repeat;
   background-size:cover;
   margin-bottom: 90px;
}
#sec3 .box{
   color: #fff;
   text-align: center;
}
#sec3 .box .txt1{
    font-size:4.3rem ;
    margin-bottom: 20px;
}
#sec3 .box .txt2{
    margin-bottom: 90px;
}
#sec3 .b_box{
    display: inline-block;
}
#sec3 .box1{
    float: left;
    width: 370px;
    height: 340px;
    margin-right: 60px;
    text-align: center;
}
#sec3 .box1 img{
    width: 85px;
    height: 95px;
    margin-bottom: 20px;
}
#sec3 .box1 p{
    margin-bottom: 35px;
    font-size: 1.6rem;
    color: #fff;
}

#sec3 .box2{
    float: left;
    width: 370px;
    height: 340px;
    margin-right: 60px;
    text-align: center;
}
#sec3 .box2 img{
    width: 85px;
    height: 95px;
    margin-bottom: 20px;
}
#sec3 .box2 p{
    margin-bottom: 35px;
    font-size: 1.6rem;
    color: #fff;
}
#sec3 .box3{
    float: left;
    width: 370px;
    height: 340px;
    text-align: center;
}
#sec3 .box3 img{
    width: 85px;
    height: 95px;
    margin-bottom: 20px;
}
#sec3 .box3 p{
    margin-bottom: 35px;
    font-size: 1.6rem;
    color: #fff;
}
#sec3 .b_box a{
    background: none;
    color: #fff;
    border: none;
}
/*******sec4*********/
#sec4::after{
    clear: both;
    display: block;
    content: '';
}
#sec4 .b_box1{
    width:calc(60% - 10px);
    height: 700px;
    float: left;
}
#sec4 .b_box1 > p{
    font-size: 2rem;
    margin-bottom: 35px;
}
#sec4 .box1 img{
    width: 650px;
    height: 480px;
}
#sec4 .box2{
    background-color: #08494E;
    width: 650px;
    height: 120px;
}
#sec4 .box2 > p{
    font-size: 1.5rem;
    margin-bottom: 15px;
    padding-top: 15px;
    color: #fff;
    padding-left: 30px;
}
#sec4 .box2 span{
    font-size: 1rem;
    color: #fff;
    padding-left: 30px;
}
#sec4 .b_box2{
    float: right;
    width: 40%;
    padding-top: 65px;
}
#sec4 .b_box2:after{
    clear: both;
    display: block;
    content: '';
}
#sec4 .m_img img{
    width: 100px;
    height: 100px;
    float: left;
}
#sec4 .m_txt{
    width:358px;
    height:135px ;
    margin-left: 10px;
    float: right;
}
#sec4 .m_txt .title{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 5px;
}
#sec4 .m_txt .txt{
    font-size: 0.9rem;
}
#sec4 .m_txt2{
    margin-top: 20px;
}
#sec4 .b_box2 .b_net1{
    height: 340px;
}
/*
#sec4 .b_box2 .b_net1{
    height: 340px;
    transform: translate(0, -600px);
}
#sec4 .b_box2 .b_net2{
    margin-top: 30px;
    transform: translate(0, -600px);
}
*/
#sec4 .b_box2 .net{
    float: right;
    transform: translateX(-10px);
}
#sec4 .b_box2 .net > p{
    font-size:1.25rem ;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 15px;
}
#sec4 .b_box2 .net dt{
    display: inline-block;
}
#sec4 .b_box2 .net .red{
    border: 1px solid red;
    border-radius: 18px;
    background-color: red;
    color: #fff;
    width: 80px;
    height: 35px;
    font-size: 0.9rem;  
    text-align: center;
    line-height:35px; 
    margin-right: 4px;  
}
#sec4 .b_box2 .net .wit{
    border: 1px solid#757575;
    border-radius: 18px;
    color: #757575;
    width: 80px;
    height: 35px;
    font-size: 0.9rem;  
    text-align: center;
    line-height:35px;   
}
#sec4 .b_box2 .net dd{
    font-size: 0.8rem;
    margin-top: 10px;
}
#sec4 .b_box2 .net dd a{
    margin-right: 15px;
}